<div class="calendar-container">
    <h3>{{ months[currentMonth] }}</h3>
    <header class="calendar-header">
        <div class="calendar-header-day">Sunday</div>
        <div class="calendar-header-day">Monday</div>
        <div class="calendar-header-day">Tuesday</div>
        <div class="calendar-header-day">Wednesday</div>
        <div class="calendar-header-day">Thursday</div>
        <div class="calendar-header-day">Friday</div>
        <div class="calendar-header-day">Saturday</div>
    </header>
    <div class="calendar-dates-container">
        <div
            class="calendar-week" 
            *ngFor="let week of calendarGrid; let i = index">
            <div
                class="calendar-day" 
                (click)="showReminderForm(i, x)"
                *ngFor="let day of week; let x = index"
                [ngClass]="{
                    'past-month-date': !day.fromCurrentMonth,
                    'weekend-date': day.day === 0 || day.day === 6
                }">{{ day.date }}

                <ul *ngIf="day.reminders.length">
                    <li 
                        *ngFor="let reminder of day.reminders; let r = index" 
                        (click)="$event.stopPropagation();showReminderForm(i, x, r)"
                        [ngStyle]="{ 'background-color': reminder.color || 'white' }">{{ reminder.time }} {{ reminder.text }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="reminders-list">
        <div *ngFor="let week of calendarGrid">
            <div *ngFor="let day of week">
                <div *ngIf="day.reminders.length">
                    Reminders for {{ day.month + '/' + day.date }}
                    <ul>
                        <li 
                            *ngFor="let reminder of day.reminders; let r = index" 
                            [ngStyle]="{ 'background-color': reminder.color || 'white' }">
                            {{ reminder.time }} {{ reminder.text }} @ {{ reminder.city }}. <i>{{ reminder.weather }}</i> - 
                            <span (click)="day.reminders.splice(r, 1)"><b>DELETE REMINDER</b></span>
                        </li>
                    </ul>
                    <span classs="danger" (click)="day.reminders = []">DELETE ALL DAY'S REMINDERS</span>
                </div>
            </div>
        </div>
    </div>

    <div style="clear: both"></div>

    <reminders-manager
        *ngIf="showAddReminder"
        [selectedReminder]="selectedReminder"
        (onReminderSave)="saveReminder($event)">
    </reminders-manager>
</div>